body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
  }

  body::-webkit-scrollbar{
    display: none;
  }
  
  body::before {
    content: "";
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background/bg.png');
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
  }
  
  
  nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }

  .logo a img {
    width: 15%;
    padding-left: 12em;
    padding-top: 1em;
}

  nav ul {
    display:inline-flex;
    list-style: none;
    margin: 0;
    padding-right: 12em;
  }

  nav li {
    margin: 0 10px;
    padding-right: 25px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
  }

  li a:hover {
    color: rgb(86, 101, 169);
  }

@media only screen and (max-width: 400px) {
  .logo a img{
    width: 30%;
    padding-left: 0;
    padding-top: 1em;
  }

  nav ul {
    display: block;
    text-align: center;
    padding-right: 0;
  }

  nav li {
    margin: 10px 0;
    padding-right: 0;
  }
}

  